@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #1c1c1c;
    --foreground-dark: #F3F4F6;
    --accent: #10B981;
    --second-accent: #FACC15;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-light: #ffffff;
    --foreground-light: #fefefe;
  }
}

body {
  background: var(--background-dark);
  color: var(--foreground-dark);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
